/* Base */
html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #000;
    background-image: url(../image/header.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 13px;
}

.container {
    max-width: 1150px;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #5A0202;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

h3, h4 {
    font-size: 1.2em;
}

h5, h6 {
    font-size: 1em;
}

/* Bootstrap custom */
.nav-tabs {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .navbar-default .navbar-form {
        width: 250px;
    }
}

.pi-navbar-nav ul {
    display: none;
}

/* Block */
.pi-block {
    margin-bottom: 20px;
}

.pi-block-title {
    padding: 10px;
}

.pi-block-title h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.pi-panel-subline {
    float: right;
}

.pi-panel-tab .panel-heading {
    padding: 0;
    height: 40px;
}

.pi-panel-tab-indicators {
    margin: 0 0 -1px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.pi-panel-tab-indicators li {
    display: inline-block;
}

.pi-panel-tab-indicators a {
    padding: 0 15px;
    cursor: pointer;
    display: block;
    color: #fff;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.pi-panel-tab-indicators li:first-child a {
    border-left: none;
}

.pi-panel-tab-indicators .active a {
    font-weight: bold;
    border-color: #ddd;
    background: #fff;
    color: #333;
}

.panel-body > :last-child {
    margin-bottom: 0;
}

.panel-body ul,
.panel-body ol {
    /* margin-left: -20px; */
}

/* logger */
#pi-logger-output {
    position: relative;
}

/* list or order list */
.pi-list {

}

.pi-order-list {

}

/* Module custom */
.tag-terms a {
    padding: 0 5px;
}

/* Player */
.pi-player {
    padding: 10px 0;
}

.pi-player .video-js {
    margin: 0 auto;
}

.pi-map-canvas {
    height: 400px;
}

/* Elements */
fieldset dl {
    margin-top: 0;
}

form .icon-question-sign {
    color: #0089D1;
    float: left;
    cursor: pointer;
    margin: 6px 0 0 1px;
    padding: 2px;
}

/* Components */
.page-header {
    margin: 0 0 15px 0;
}

.page-header h1,
.page-header h2 {
    margin: 0;
    font-size: 30px;
}

.page-header .nav {
    margin-bottom: 0;
}

.page-header .search-query {
    border-radius: 5px;
}

/** Pi Specific **/
/* Elements */
.dl-horizontal dt {
    width: 120px;
}

.dl-horizontal dd {
    margin-left: 140px;
}

/* ellipsis with rows/lines : line height is fixed */
.pi-ellipsis {
    overflow: hidden;
    display: block;
    line-height: 1.5;
}

/* Max 1 - 10 row(s)/line(s) */
.pi-ellipsis-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pi-ellipsis-2 {
    max-height: 3em;
}

.pi-ellipsis-3 {
    max-height: 4.5em;
}

.pi-ellipsis-4 {
    max-height: 6em;
}

.pi-ellipsis-5 {
    max-height: 7.5em;
}

.pi-ellipsis-6 {
    max-height: 9em;
}

.pi-ellipsis-7 {
    max-height: 10.5em;
}

.pi-ellipsis-8 {
    max-height: 12em;
}

.pi-ellipsis-9 {
    max-height: 13.5em;
}

.pi-ellipsis-10 {
    max-height: 15em;
}

/* Components */
.pi-divider {
    font-family: serif, sans-serif;
    margin: 0 6px;
    color: #ccc;
}

.pi-legend {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 9px 10px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
}

/* Box with border */
.pi-widget {
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
}

.pi-widget-header {
    padding: 5px 10px;
    background: #F8F8F8;
    border-bottom: 1px solid #d7d7d7;
}

.pi-widget-body {
    padding: 18px 20px;
}

.pi-widget-body > :last-child {
    margin-bottom: 0;
}

/* Avatar */
/* @see: https://github.com/pi-engine/pi/wiki/Design.Avatar */
.pi-avatar {
    width: 80px;
}

.pi-avatar-mini {
    width: 16px;
}

.pi-avatar-xsmall {
    width: 24px;
}

.pi-avatar-small {
    width: 28px;
}

.pi-avatar-medium {
    width: 46px;
}

.pi-avatar-large {
    width: 96px;
}

.pi-avatar-xlarge {
    width: 120px;
}

.pi-avatar-xxlarge {
    width: 214px;
}

/* header */
.pi-header {
    background: rgba(0,0,0, .5);
    margin-bottom: 225px;
}

.pi-header .col-md-12 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pi-header .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    color: #fff;
}

.pi-header .navbar-nav > li > a:hover,
.pi-header .navbar-nav > li > a:focus {
    color: #f7f7f7;
    background: none;
}

.pi-header .navbar-nav > li > a.pi-header-tel {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding-right: 25px;
}

/* section */
.pi-section {
    padding: 15px 0 55px 0;
    min-height: 220px;
    background: url('../image/footer.png') bottom center no-repeat;
}

.pi-section .pi-main-container {
    padding: 15px;
    background-color: #fff;
    border: 1px solid transparent;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}

.pi-section-bottom {
    background-color: #540505;
    padding: 25px 0;
    margin-bottom: 15px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #540505;
    color: #fff;
    text-align: justify;
}

.pi-section-bottom a {
    color: #fff;
}

.pi-section-bottom h1, .pi-section-bottom h2 {
    margin: 2px 0;
    padding: 2px 0;
}

#pi-shop .pi-section-bottom, #pi-order .pi-section-bottom {
    background-color: #121A29;
    border: 1px solid #121A29;
}

.pi-section-crt {}

.pi-section-crt img {
    width: 45%;
    float: right;
    padding: 5px;
    background: #fff;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

/* footer */
.pi-footer {
    color: #fff;
    margin-top: -40px;
}

.pi-footer a {
    color: #f5f5f5;
}

.pi-footer a:hover {
    text-decoration: none;
    color: #fff;
}

/* Nav */
.pi-nav {
    max-height: 52px;
}

.pi-nav .container {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.pi-nav .navbar-default {
    background-color: #5A0202;
    border-color: #F5ECC1;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
}

#pi-shop .pi-nav .navbar-default, #pi-order .pi-nav .navbar-default {
    background-color: #e5972f;
    border-color: #F5ECC1;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
}

.pi-nav .navbar-default h1.navbar-brand,
.pi-nav .navbar-default h2.navbar-brand {
    padding: 15px 0;
    margin: 0;
}

.pi-nav .navbar-default h1.navbar-brand a,
.pi-nav .navbar-default h2.navbar-brand a {
    padding: 15px 10px;
    font-size: 16px;
    color: #fff;
}

.pi-nav .navbar-default .navbar-text {
    color: #fff;
}

.pi-nav .navbar-default .navbar-nav > li > a {
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
}

.pi-nav .navbar-default .navbar-nav > li > i {
    color: #fff;
    font-size: 15px !important;
}

#pi-shop .pi-nav .navbar-default .navbar-nav > li > a {
    color: #5A0202;
}

.pi-nav .navbar-default .navbar-nav > li > a:hover,
.pi-nav .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #E5972F;
    border-radius: 8px;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
}

#pi-shop .pi-nav .navbar-default .navbar-nav > li > a:hover,
#pi-shop .pi-nav .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #5A0202;
    border-radius: 8px;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
}

.pi-nav .navbar-default .navbar-nav > .active > a,
.pi-nav .navbar-default .navbar-nav > .active > a:hover,
.pi-nav .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #5A0202;
    border-radius: 8px;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
}

#pi-shop .pi-nav .navbar-default .navbar-nav > .active > a,
#pi-shop .pi-nav .navbar-default .navbar-nav > .active > a:hover,
#pi-shop .pi-nav .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #5A0202;
    border-radius: 8px;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
}

@media (min-width: 768px) {
    .pi-navbar-nav li {
        position: relative;
    }

    .pi-navbar-caret {
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -8px;
        border-bottom: 8px solid #5A0202;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        z-index: 1002;
    }

    .pi-navbar-caret-outer {
        border-bottom: 8px solid #5A0202;
        bottom: 0;
        z-index: 1001;
    }

    .pi-navbar-nav li:hover > ul,
    .pi-navbar-nav li:hover .pi-navbar-caret {
        display: block;
        color: #fff;
        background-color: #000;
    }

    .pi-navbar-nav li:hover > ul > li > a:hover,
    .pi-navbar-nav li:hover > ul > li > a:focus {
        color: #fff;
        background-color: #5A0202;
    }

    .pi-navbar-nav li:hover > ul > li > a,
    .pi-navbar-nav li:hover > ul > li > a {
        color: #fff;
    }

    .pi-navbar-nav ul .dropdown-menu {
        left: 100%;
        top: -5px;
    }
}

@media (min-width: 768px) {
    .navbar-form {
        width: 300px;
        float: left;
    }
}

/* search */
.pi-nav .search-block {
    margin-top: 8px;
    float: left;
}

.pi-nav .search-block .dropdown-menu {
    width: 400px !important;
    margin: -8px 600px 0 0 !important;
}

.pi-nav .search-block .dropdown-menu li {
    text-align: right;
}

.pi-nav .search-block .input-group-addon:last-child {
    border-left: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* shobadebaz */
.shobadebaz-category-list {
    background-color: #fcf7e8;
    padding: 5px;
    border-radius: 4px;
}

.shobadebaz-category-list img {
    display: inline-block;
    margin: 0 auto !important;
}

.shobadebaz-category-list a {
    display: inline-block;
    color: #121A29;
    padding: 5px 0 15px 0;
    width: 100% !important;
}

/* pagination */
.pagination > li > a,
.pagination > li > span {
    color: #fff;
    background-color: #795548;
    border-color: #795548;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fff;
    background-color: #5A0202;
    border-color: #5A0202;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #fff;
    background-color: #5A0202;
    border-color: #5A0202;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #fff;
    background-color: #5A0202;
    border-color: #5A0202;
}

/* Panel */
.panel-default {
    border-color: #5A0202;
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #5A0202;
    border-color: #5A0202;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #5A0202;
}
.panel-default > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #5A0202;
}

/* .pi-zone-2 .panel-default {
    border-color: #FEB204;
    background: #EEEFF1;
}

.pi-zone-2 .panel-default > .panel-heading {
    background-color: #FEB204;
    border-color: #FEB204;
    color: #000;
}

.pi-zone-2 .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #FEB204;
}

.pi-zone-2 .panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #FEB204;
} */

/* News */
.news-item-block-magazine-wide h3,
.news-item-block-magazine-wide h4,
.news-item-block-magazine h3,
.news-item-block-magazine h4 {
    font-size: 1em;
    font-weight: normal;
    padding: 1px;
    margin: 0;
}

.news-item-block-magazine-wide .text-muted,
.news-item-block-magazine .text-muted {
    font-size: .85em;
    border-top: 1px solid #ddd;
    padding-top: 4px;
    margin-top: 4px;
}

.news-item-block-magazine-main {
    margin-bottom: 8px;
}

.news-item-block-magazine-sub {
    padding: 10px;
    height: 80px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.news-item-block-magazine-wide .news-item-block-magazine-sub img {
    max-width: 70px;
    max-height: 70px;
}

.news-item-block-magazine .news-item-block-magazine-sub img {
    max-width: 50px;
    max-height: 50px;
}

.news-item-block-image {
    text-align: center;
}

.news-item-block-image img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.news-item-block-image h2 {
    font-size: 11px;
    font-weight: normal;
    margin: 5px 0 15px 0;
    padding: 0;
}

.news-story-page-side {
    padding-top: 15px;
}

/* Shop */
.shop-block-product h3 {
    font-size: 14px;
}

.shop-block-product .owl-carousel {
    height: 270px !important;
}

.shop-block-product .owl-carousel .owl-stage {
    height: 260px !important;
}

.shop-block-product .owl-carousel .owl-stage-outer {
    height: 260px !important;
}

.shop-block-product .owl-carousel .owl-item {
    max-height: 260px !important;
}

.shop-block-product .owl-carousel .owl-item img {
    max-height: 260px !important;
    width: 180px !important;
}

.shop-block-product .owl-carousel .owl-controls .owl-nav {
    margin-top: -180px !important;
}

.image-box-size-1 {
    margin-bottom: 15px;
}

.image-box-size-2 {
    margin-bottom: 30px;
}

.image-box-size-3 {
    margin-bottom: 15px;
}

.shop-block-basket .btn-primary {
    background: none;
    border: 0;
}

.shop-block-basket .btn-primary:focus,
.shop-block-basket .btn-primary.focus {
    background: none;
    border: 0;
}

.shop-block-basket .btn-primary:hover {
    background: none;
    border: 0;
}

.product-order-form {
    margin-top: 60px;
    margin-bottom: 10px;
}

/* Video */
#pi-system .col-md-4 {
    width: 28% !important;
}

#pi-system .col-md-8 {
    width: 71.88888% !important;
}

.video-block {
    padding: 0 0 15px 0;
}

.video-block .videoBox {
    width: 33.33333333% !important;
}

.video-block .qmery-player {
    text-align: center !important;
    margin: 0 auto !important;
}

.video-block .video-block-more {
    text-align: left;
    padding: 5px 15px;
}

.video-block .video-spotlight .thumbnail {
    background: #f7f8fa;
}

.video-block .video-spotlight-extra h4 {
    font-size: 1em;
    line-height: 2em;
}

.video-block .video-spotlight-extra .thumbnail {
    background: #f7f8fa;
}

.video-block .video-spotlight-extra .caption {
    height: 75px;
    text-align: center;
}

.video-block-more a {
    background: url('../image/button-more.png');
    background-repeat: no-repeat;
    padding: 8px 17px;
    line-height: 15px;
    font-size: 13px;
}

.breadcrumb {
    background-color: #F5ECC1;
}